<nav class="navbar">
  <div class="nav-container">
    <div class="navbar-header">
      <div class="header-text-md">{{ name }} اطلب وجبتك من أي مكان</div>
      <ul class="information flex">
        <li>
          مفتوح الآن إلى الجمعة ٥:٠٠ ص
          <i class="fa-regular fa-clock"></i>
        </li>
        <li>
          0911033054
          <i class="fa-solid fa-phone-flip"></i>
        </li>
        <li>
          طرابلس ليبيا
          <i class="fa-solid fa-map-location"></i>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="line-break"></div>
<div class="divider"></div>
