<div class="divider"></div>
<div class="filtet-items">
  <div class="container">
    <ul class="filter flex space-around">
      <li
        routerLinkActive="active"
        *ngFor="let category of categories"
        [routerLink]="['items/', category.id]"
        [queryParams]="{restaurantId: category.restaurantId}"
        (click)="sendcategoryId(category.id)"
        class="category-wrapper"
        [id]="category.id"
      >
        <app-category-page
        [categoryObj]="category"
        >

        </app-category-page>
      </li>
    </ul>
  </div>
</div>
<div class="divider"></div>
