<div class="divider"></div>
<div class="filtet-items">
  <div class="container">
    <ul class="filter flex space-around">
      <li routerLinkActive="ative"  [routerLink]="['items/', 1]" class="filter-item " id="all">جميع الأقسام</li>
      <li
        routerLinkActive="active"
        [routerLink]="['items/', category.id]"
        (click)="sendcategoryId(category.id)"
        *ngFor="let category of categories"
        class="filter-item"
        [id]="category.id"
      >
        {{ category.name }}
      </li>
    </ul>
  </div>
</div>
<div class="divider"></div>
