<div class="section p-2">
  <div class="container">
    <h1>اطلب الأن</h1>
  </div>

  <form [formGroup]="orderForm" (ngSubmit)="sendOrder()">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">
        اسم الزبون
      </label>
      <input formControlName="customerName" type="email" class="form-control" id="exampleFormControlInput1" />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">
        رقم هاتف الزبون
      </label>
      <input formControlName="customerPhoneNumber" type="email" class="form-control" id="exampleFormControlInput1" />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">
        عنوان الزبون
      </label>
      <input formControlName="customerAddress" type="email" class="form-control" id="exampleFormControlInput1" />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"> ملاحضات </label>
      <input formControlName="customerNote" type="email" class="form-control" id="exampleFormControlInput1" />
    </div>
    
    <div class="divider"></div>
    <button type="submit" class="btn btn-primary order-button">
      انهاء الطلب <span class="badge text-bg-secondary">4</span>
    </button>
  </form>
  <div class="divider"></div>
</div>
